page-choix-utilisateur {
    display: flex;
    justify-content: center;
    align-items: center;
    .content-md, ion-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        ion-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;

            button{
                width: fit-content;
                height: 50px;
                border-radius: 20px;
            }
        }
    }

}
